<!DOCTYPE html>
<html>
<title>ShopBot Admin Panel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">ShopBot AdminPanel</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong>Admin</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>داشبورد</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="/" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-user w3-text-blue w3-large"></i>  داشبورد</a>
        <a href="/Notes" class="w3-bar-item w3-button w3-padding"><i class="fa fa-comment w3-text-red w3-large"></i>یادداشت ها</a>
        <a href="/products" class="w3-bar-item w3-button w3-padding"><i class="fa fa-laptop w3-text-red w3-large"></i> محصولات</a>
        <a href="/pcategory" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bookmark w3-text-blue w3-large"></i>  دسته بندی محصولات</a>
        <a href="/tutorials" class="w3-bar-item w3-button w3-padding"><i class="fa fa-comment w3-text-red w3-large"></i> آموزش ها</a>
        <a href="/tcategory" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell w3-text-red w3-large"></i> دکمه های آموزش ها</a>
        <a href="/questions" class="w3-bar-item w3-button w3-padding"><i class="fa fa-comment w3-text-red w3-large"></i>سوالات پر تکرار</a>
        <a href="/qcategory" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell w3-text-red w3-large"></i>دکمه های سوالات پرتکرار</a>
        <a href="/securbuy" class="w3-bar-item w3-button w3-padding"><i class="fa fa-comment w3-text-red w3-large"></i>خرید ایمن</a>
        <a href="/scategory" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell w3-text-red w3-large"></i>دکمه های خرید ایمن</a>
        <a href="/commentsList"   class="w3-bar-item w3-button w3-padding" ><i class="fa fa-comment w3-text-red w3-large"></i> انتقادات و پیشنهادات</a>

        
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i>داشبورد من</b></h5>
    </header>

    

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-padding-16">
                
                <div class="w3-right">
                    
                    <h3><%= products %></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>تعداد محصولات</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                
                <div class="w3-right">
                    <h3><%= tutorials %></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>تعداد آموزش ها</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16">
                
                <div class="w3-right">
                    <h3><%= questions %></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>تعداد سوالات پر تکرار</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-right">
                    <h3><%= securbuy %></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>تعداد نکات خرید ایمن</h4>
            </div>
        </div>
    </div>

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-twothird">
                <h5>اخرین مطالب افزوده شده</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
                        <td>محصول</td>
                        <td><i><%= lastProducts.name %><i>  --------  </i><%= lastProducts.time %></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                        <td>آموزش</td>
                        <td><i><%= lastTutorials.name %><i>  --------  </i><%= lastTutorials.time %></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                        <td>سوال پر تکرار</td>
                        <td><i><%= lastQuestions.name %><i>  --------  </i><%= lastQuestions.time %></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                        <td>نکته خرید ایمن</td>
                        <td><i><%= lastSecurbuy.name %><i>  --------  </i><%= lastSecurbuy.time %></i></td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>

    <br>

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-twothird">
                <h5>اخرین انتقادات و پیشنهادات</h5>
                <table class="w3-table w3-striped w3-white">
                    <%- comments.map(item => `<tr>
                        <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                        <td>${item.text}</td>
                        
                    </tr>`).join("") %>
                    
                </table>
            </div>
        </div>
    </div>
    

    
        
    <div class="w3-container">
        <h5>کاربران</h5>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-16">
                <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                <span class="w3-xlarge">Admin</span><br>
            </li>
            
        </ul>
    </div>
    <hr>

    <div class="w3-container">
        <h5>یادداشت ها</h5>

        <%- notes.map(item => `<div class="w3-row">
            <div class="w3-col m2 text-center">
                <img class="w3-circle" src="https://www.w3schools.com/w3images/avatar3.png" style="width:96px;height:96px">
            </div>
            <div class="w3-col m10 w3-container">
                <h4>Admin </h4>
                <span class="w3-opacity w3-medium">${item.time}</span>
                <p>${item.title}</p><br>
            </div>
        </div>`).join("") %>

    </div>
    <br>
   

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>پنل مدیریت ربات تلگرام  <a href="https://www.mojogem.com/" target="_blank">موجوجم</a></p>
    </footer>

    <!-- End page content -->
</div>

<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>

</body>
</html>
